<table class="table table-hover">
    <tr>
      <td>网站域名</td>
      <td><%= site_config.text1 %></td>
    </tr>
    <tr>
      <td>网站名称</td>
      <td><%= site_config.text2 %></td>
    </tr>
    <tr>
      <td>网站标题</td>
      <td><%= site_config.text3 %></td>
    </tr>
    <tr>
      <td>网站logo</td>
      <td class="change-logo">
        <%= render partial: "site_configs/logo", locals: { logo: site_config.text4 } %>
      </td>
	</tr>

</table>

