
  <%= link_to '新建博文', new_blog_path, class: "btn", target: "blank" %>

<div class="accordion" id="blogs_accordion_group">
  <% @blogs.first.type_map.each_with_index do |klass, index| %>
    <% blogs = @blogs.select { |b| b.klass == klass[1] } %>
    <%= render partial: "blogs/accordion", locals: { blogs: blogs, index: index, klass: klass } if blogs %>
  <% end %>

</div>

