<style>
#fruit_zone .accordion-heading {
  padding-right: 20px;
}
#fruit_zone .accordion-heading a {
  display: inline;
}
</style>
<div class="accordion" id="fruit_zone_accordion_group">

    <% @fruit_zones.each_with_index do |fruit_zone, index| %> 
       <%= render partial: "fruit_zones/admin", locals: { fruit_zone: fruit_zone, index: index } if fruit_zone %>
    <% end %>

</div>

  <!--
    该模式框必须放在最外层
    css定位模式是absolute,在其他div中会受限制
  -->
  <% @fruit_zones.each do |fruit_zone| %>
    <% fruit_zone.fruits.each do |fruit| %>
      <%= render partial: "fruit_zones/modal_fruit", locals: { fruit: fruit } %>
    <% end if fruit_zone.fruits.size > 0 %>
  <% end if @fruit_zones %>
