<table class="table table-hover">
  <tr>
    <th>菜单序号</th>
    <th>专区名称</th>
    <th>状态</th>
    <th>编辑</th>
  </tr>
  <tbody>
    <% @fruit_zones.each do |fruit_zone| %>
      <%= render partial: "fruit_zones/table", locals: { fruit_zone: fruit_zone } if fruit_zone %>
    <% end %>
  </tbody>
</table>

<div class="warn">
  说明:<br>
  <ol>
   <li> 除[果仁新作]水果专区的水果专区都会在[在线订购]中显示，若想隐藏可以设置为[下架].</li>
  </ol>
</div>
