<table class="table table-hover">
  <tr>
    <th>菜单序号</th>
    <th>专区名称</th>
    <th>状态</th>
    <th>编辑</th>
  </tr>
  <tbody>
    <% @fruit_zones.each do |fruit_zone| %>
      <%= render partial: "fruit_zones/table", locals: { fruit_zone: fruit_zone } if fruit_zone %>
    <% end %>
  </tbody>
</table>

