
<% if mobile? %>
  <div class="span11" style="margin-left:12px;">
<% else %>
  <div class="span6 offset3">
<% end %>

  <h3>会员尊享</h3>

  <div>
    成为会员后可享受多项优惠。
  </div>

  <div>
    <%= render 'form' %>
  </div>

<div>

