<table class="table table-hover">
  <tr>
    <th>日期</th>
    <th>顾客</th>
    <th>水果数量</th>
    <th>金额</th>
    <th>顾客</th>
    <th>明细</th>
    <th>编辑</th>
    <th>状态</th>
  </tr>
 
  <% @orders.each do |order| %>
    <%= render partial: "orders/order", locals: { order: order } if order  %>
  <% end if @orders %>
</table>
