
  <table class="table table-hover">
    <tr>
      <th>顾客标识</th>
      <th>商品数量</th>
      <th>商品总值</th>
      <th>查看</th>
      <th></th>
      <th></th>
    </tr>

  <% @shop_carts.each do |shop_cart| %>
    <tr>
      <td><%= shop_cart.idstr %></td>
      <td><%= shop_cart.cart_items_count %></td>
      <td><%= shop_cart.cart_items_price %></td>
      <td><%= link_to '明细', {controller: :shop_carts, action: :show, idstr: shop_cart.idstr}, remote: true, class: "btn btn-mini btn-info" %></td>
      <td><% link_to 'Edit', edit_shop_cart_path(shop_cart) %></td>
      <td><% link_to 'Destroy', shop_cart, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

