<div class="span6 offset3">

  <h3>购物车列表</h3>


  <table class="table table-hover">
    <tr>
      <th>顾客标识</th>
      <th>商品数量</th>
      <th>商品总值</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @shop_carts.each do |shop_cart| %>
    <tr>
      <td><%= shop_cart.idstr %></td>
      <td><%= shop_cart.cart_items_size %></td>
      <td><%= shop_cart.cart_items_price %></td>
      <td><%= link_to 'Show', shop_cart %></td>
      <td><% link_to 'Edit', edit_shop_cart_path(shop_cart) %></td>
      <td><% link_to 'Destroy', shop_cart, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <% link_to 'New Shop cart', new_shop_cart_path %>
  <a class="btn" onclick="add();">add</a>
  <a class="btn" onclick="rm();">rm</a>

  <script>

  function add() {
     operate_item("add");
  }
  function rm() {
     operate_item("rm");
  }
  function operate_item(operation) {
    var weixin  = $("#hidden_weixin").attr("value"); 
    if(operation == "add") {
      url = "/shop_carts/add.json";
    } else {
      url = "/shop_carts/rm.json";
    }
    $.post(url,
    {
      weixin: weixin,
      item: {
	id: 11,
	price: 12.4
      }
    },
    function(data,status){
      alert("数据：" + data + "\n状态：" + status);
    });
  }
  </script>
</div>
