<table class="table table-hover">
  <tbody>
    <tr>
      <td colspan="2">
        用户标识:<%= @shop_cart.idstr %>
      </td>
    </tr>
    <% @shop_cart.cart_items.each do |item| %>
      <tr>
        <td>
	  <%= item["name"] %>
	</td>
        <td>
	  <label class="label label-info" style="display:inline;">￥<%= item["price"] %></label>x<%= item["count"] %>
	</td>
      </tr>
    <% end if @shop_cart.cart_items %>
  </tbody>
</table>
